
@{
    ViewBag.Title = "Create Reports";
}

<h2>Create Reports</h2>

<p><button type="button" onclick="location.href='@Url.Action("Index", "GamesList")'">Games List</button></p>
<p><button type="button" onclick="location.href='@Url.Action("Index", "GameDetails")'">Game Detail Report</button></p>